body {
    margin: 0;
    font-family: 'Arima', cursive;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

.blue {
    color: #0692F7;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.half-width p {
    font-size: 20px;
    font-weight: 500;
    text-align: justify;

}

.flexible-content {
    display: flex;
    margin-bottom: 150px;

}

.top-banner {
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.link-btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-image: linear-gradient(#9edfee, #55b8e0);
    padding: 10px 40px;
    border-radius: 30px;
}

.para {
    padding-right: 30px;
    padding-bottom: 50px;
}

.food-side {
    background-image: url(images/invert-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
}

.salad img {
    width: 80%;
    padding: 42px;
    border-radius: 15px;
}

.salad {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 9px 23px 69px gray;
    border-radius: 38px;
    text-align: center;
    padding-bottom: 50px;
}
.recipe-area h1{
  text-align: center;
  font-weight: 700;
}
.details{
	padding-left: 283px;
	padding-right: 283px;
	text-align: center;
}
.recipe-area{
     background-image: url(images/left.png);
    background-repeat: no-repeat;
    background-position: left;
}
#cool-border{
    border-top: 7px solid #0692F7;
    border-bottom: 7px solid #0692F7;
}

#nice-border{
    border-top: 7px solid #55b8e0;
    border-bottom: 7px solid #55b8e0;
}